<a href="https://colab.research.google.com/github/de-fernandez/DSA-CpE-010-CpE21S4/blob/main/Exercise_3_Fernandez%2C_Don_Eleazar_CpE_21S4%2C_CpE_010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> <h1> Exercise 3 </h1>

In [56]:
#Algorithm to get the area of a circle if radius is known
#Area = pi * r**2

def AreaCircle(r):
  pi = 3.1416
  area = pi * ((r) ** 2)
  return area

print("The area of the circle is %.2f" % AreaCircle(5))

The area of the circle is 78.54

In [57]:
#Algorithm to get the area of a circle if diameter is known
#Area = pi * (d * d)/4
#Area = pi * ((d/2) ** 2)

def AreaCircle(d):
  pi = 3.1416
  area = pi * ((d/2) ** 2)
  return area

print("The area of the circle is %.2f" % AreaCircle(10))

The area of the circle is 78.54

In [20]:
#Accessing the elements in the array
animals = ["cat", "dog", "fish"]
x = animals[0]
print(x)

cat

In [22]:
#Modifying the elements in the array
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
print(animals)

['monkey', 'dog', 'fish']

In [23]:
#Length of the array
animals = ["monkey", "cat", "dog", "fish"]
x = len(animals)
print(x)

4

In [24]:
#Looping the elements in the array
animals = ["monkey", "cat", "dog", "fish"]
for x in animals:
  print(x)

monkey
cat
dog
fish

In [25]:
#Adding an element in the array
animals = ["monkey", "cat", "dog", "fish"]
animals.append("bird")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [26]:
#Remove an element in the array
animals = ["monkey", "cat", "dog", "fish"]
animals.pop(1)
print(animals)

['monkey', 'dog', 'fish']

In [46]:
#Inserting an animal in a specific location using insert()
animals = ["monkey", "cat", "dog", "fish"]
animals.insert(0, "bird")
print(animals)

['bird', 'monkey', 'cat', 'dog', 'fish']

In [61]:
#Remove an animal in the specified index value using remove()
animals = ["monkey", "cat", "dog", "fish"]
animals.remove("monkey")
print(animals)

['cat', 'dog', 'fish']

In [49]:
#Reverse all animals in the list using reverse()
animals = ["monkey", "cat", "dog", "fish"]
animals.reverse()
print(animals)

['fish', 'dog', 'cat', 'monkey']